.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header header header "
    "aside main main "
    "aside content1 content2 "
    "footer footer footer ";
  gap: 10px;
  padding: 20px;
}

header {
  grid-area: header;
  background: #f8b400;
  padding: 20px;
  filter: sepia(50%);
}

aside {
  grid-area: aside;
  background: #6a89cc;
  padding: 20px;
}

.main {
  grid-area: main;
  background: #38ada9;
  padding: 20px;
}

.content1 {
  grid-area: content1;
  background: #e55039;
  padding: 20px;
  filter: saturate(100%);
  transform: rotate(20deg);
}

.content2 {
  grid-area: content2;
  background: #4a69bd;
  padding: 20px;
  transform: skewY(20deg);
}

footer {
  grid-area: footer;
  background: #60a3bc;
  padding: 20px;
  animation-name: animate;
  animation-duration: 5s;
}

@keyframes animate {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
